<div class="clear_div">
	<div ng-controller="form_proypologismos_control">
		<md-content  layout-xs="row" layout-padding>
			<div  class="inputForm" >	
				<div ng-show='commonfields_form_proypologismos'>
					<table  class='inputformtable'>
						<tr>
							<td>&nbsp</td>
							<td><md-button  ng-click='updateSciDirSelect("1")'>Go</md-button></td>
						</tr>
						<tr>
							<td>
								<label>Όνομα</label>
							</td>
							<td>
								<md-select  ng-model="entoli.sciDirSelected" ng-change="updateResearchSelect(entoli.sciDirSelected,'1');" style="margin:10px; width: 100%;line-height: 30px;height: 30px;"  aria-label="label">
									<md-option ng-repeat="sciDir in sciDirForFellow.data" value="{{sciDir.base_scidir_rec_id}}">{{sciDir.scidir_surname}} {{reseach.scidir_name}}</md-option>
								</md-select>
							</td>
						</tr>
						<tr>
							<td>
								<label>Κ.Α έρευνας</label>
							</td>
							<td>
								<md-select  ng-model="entoli.researchSelected" ng-change="afterupdate(entoli.researchSelected,entoli.sciDirSelected,'1');" style="margin:10px; width: 100%;line-height: 30px;height: 30px;" aria-label="label">
									<md-option ng-repeat="research in researchOfsciDirForFellow.data" value="{{research.base_research_rec_id }}">{{research.research_code}}</md-option>
								</md-select>
							</td>
						</tr>
						<tr>
							<td>
								<label>Επιστημ. Υπευθ</label>
							</td>
							<td >
								<md-input-container style="margin:0px; width: 100%;height: 25px;">
									<input ng-model="entoli.epistimonikos_name" ng-init="entoli.epistimonikos_name=''"  aria-label="label">
								</md-input-container>
							</td>
						</tr>
						<tr>
							<td>
								<label>Κ.Α έρευνας</label>
							</td>
							<td >		
								<md-input-container style="margin:0px; width: 100%;line-height: 30px;height: 30px;">
									<input ng-model="entoli.kodikos_ereynas" aria-label="label">
								</md-input-container>
							</td>
						</tr>
					</table>
					<table>
						<tr>
							<td>
								<label>Xρηματοδότης</label>
							</td>
							<td >
								<md-input-container style="margin:0px; width: 100%;line-height: 30px;height: 30px;">
									<input ng-model="entoli.xrimatodotis" aria-label="label">
								</md-input-container>
							</td>
						</tr>
						<tr>
							<td>
								<label>Ποσό Προυπολογισμού</label>
							</td>
							<td >
								<md-input-container style="margin:0px; width: 100%;line-height: 30px;height: 30px;">
									<input ng-model="entoli.poso_proypologismou" aria-label="label">
								</md-input-container>
							</td>
						</tr>
						<tr>
							<td>
								<label>Διαρκ. Έργου από</label>
							</td>
							<td>
								<md-input-container style="margin:0px; width: 100%;line-height: 30px;height: 30px;">
									<input ng-model="entoli.ergo_apo" aria-label="label">
								</md-input-container>
							</td>
						</tr>
						<tr>
							<td>
								<label>Διαρκ. Έργου εώς </label>
							</td>
							<td>
								<md-input-container style="margin:0px; width: 100%;line-height: 30px;height: 30px;">
									<input ng-model="entoli.ergo_eos" aria-label="label">
								</md-input-container>
							</td>
						</tr>
					</table>
				</div>
				<div>
					<h4><a href="" ng-click="show1 = !show1">1. ΜΗ ΑΝΑΛΩΣΙΜΑ</a></h4>
					<div class="procedure-details" ng-show="show1">
						<table>
							<tr><td>Α. ΕΠΙΣΤΗΜΟΝΙΚΑ ΟΡΓΑΝΑ</td>
								<td><input ng-model="entoli.table_1A" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Β. Η/Υ ΚΑΙ ΠΕΡΙΦΕΡΕΙΑΚΑ Η/Υ (ΕΚΤΥΠΩΤΕΣ, ΟΘΟΝΕΣ, κ.λ.π)</td>
								<td><input ng-model="entoli.table_1B" ng-change="updateTotal();" ></td>
							</tr>
							<tr><td>Γ. ΦΩΤΟΤΥΠΙΚΑ ΚΑΙ ΠΑΡΕΜΦΕΡΗ ΜΗΧΑΝΗΜΑΤΑ</td>
								<td><input ng-model="entoli.table_1G" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Δ. ΛΟΓΙΣΜΙΚΑ ΠΡΟΓΡΑΜΜΑΤΑ</td>
								<td><input ng-model="entoli.table_1D" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Ε. ΟΠΤΙΚΟΑΚΟΥΣΤΙΚΑ ΜΕΣΑ (ΤΗΛΕΠ/ΚΟΣ ΕΞΟΠΛΙΣΜΟΣ)</td>
								<td><input ng-model="entoli.table_1E" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>ΣΤ. ΕΞΟΠΛΙΣΜΟΣ ΓΡΑΦΕΙΟΥ</td>
								<td><input ng-model="entoli.table_1ST" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Ζ. ΒΙΒΛΙΑ – ΕΝΤΥΠΑ –ΠΕΡΙΟΔΙΚΑ</td>
								<td><input ng-model="entoli.table_1Z" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Η. ΑΥΤΟΚΙΝΗΤΑ</td>
								<td><input ng-model="entoli.table_1H" ng-change="updateTotal();"></td>
							</tr>						
							<tr><td>Θ. ΛΟΙΠΟΣ ΕΞΟΠΛΙΣΜΟΣ</td>
								<td><input ng-model="entoli.table_1T" ng-change="updateTotal();"></td>
							</tr>						
							<tr><td>Ι. ΑΛΛΟ (Παρακαλούμε εξειδικεύστε το είδος)</td>
								<td><input ng-model="entoli.table_1I" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>ΣΥΝΟΛΟ ΜΗ ΑΝΑΛΩΣΙΜΩΝ</td>
								<td><input ng-model="entoli.table_1total" ng-init="entoli.table_1total=''"></td>
								{{entoli.table_1A+entoli.table_1B}}
							</tr>											
						</table>
					</div>
				</div>
				<div>
					<h4><a href="" ng-click="show2 = !show2">2. ΑΝΑΛΩΣΙΜΑ</a></h4>
					<div class="procedure-details" ng-show="show2">
						<table>
							<tr><td>Α. ΑΝΤΙΔΡΑΣΤΗΡΙΑ (Χημικά, Ιατρικά, κ.α).</td>
								<td><input ng-model="entoli.table_2A" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Β. ΕΡΓΑΣΤΗΡΙΑΚΑ ΑΝΑΛΩΣΙΜΑ</td>
								<td><input ng-model="entoli.table_2B" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Γ. ΟΔΟΝΤΙΑΤΡΙΚΑ	</td>
								<td><input ng-model="entoli.table_2G" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Δ. ΦΑΡΜΑΚΕΥΤΙΚΑ ΠΡΟΪΟΝΤΑ</td>
								<td><input ng-model="entoli.table_2D" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Ε. ΑΚΤΙΝΟΓΡΑΦΙΚΑ ΕΙΔΗ</td>
								<td><input ng-model="entoli.table_2E" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>ΣΤ. ΠΕΙΡΑΜΑΤΟΖΩΑ & ΥΛΙΚΑ ΣΥΝΤΗΡΗΣΗΣ ΤΟΥΣ</td>
								<td><input ng-model="entoli.table_2ST" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Ζ. ΑΕΡΙΑ</td>
								<td><input ng-model="entoli.table_2Z" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Η. ΓΡΑΦΙΚΗ ΥΛΗ- – ΑΝΑΛΩΣΙΜΑ ΓΡΑΦΕΙΟΥ - ΑΝΑΛΩΣΙΜΑ Η/Υ</td>
								<td><input ng-model="entoli.table_2H" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Θ. ΥΓΕΙΟΝΟΜΙΚΟ ΥΛΙΚΟ</td>
								<td><input ng-model="entoli.table_2T" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Ι. ΥΛΙΚΑ ΚΑΘΑΡΙΟΤΗΤΑΣ</td>
								<td><input ng-model="entoli.table_2I" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Κ. ΑΛΛΟ (Παρακαλούμε εξειδικεύστε το είδος)</td>
								<td><input ng-model="entoli.table_2K" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>ΣΥΝΟΛΟ ΑΝΑΛΩΣΙΜΩΝ</td>
								<td><input ng-model="entoli.table_2total"></td>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<h4><a href="" ng-click="show3 = !show3">3. ΑΜΟΙΒΕΣ</a></h4>
					<div class="procedure-details" ng-show="show3">
						<table>
							<tr><td>Α. ΕΠΙΣΤΗΜΟΝΙΚΟΥ ΥΠΕΥΘΥΝΟΥ</td>
								<td><input ng-model="entoli.table_3A" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Β. ΕΠΙΣΤΗΜΟΝΙΚΟΥ ΠΡΟΣΩΠΙΚΟΥ	</td>
								<td><input ng-model="entoli.table_3B" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Γ. ΦΟΙΤΗΤΩΝ	</td>
								<td><input ng-model="entoli.table_3G" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Δ. ΛΟΙΠΟΥ ΠΡΟΣΩΠΙΚΟΥ</td>
								<td><input ng-model="entoli.table_3D" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>E. ΑΛΛΟ (Παρακαλούμε εξειδικεύστε το είδος)</td>
								<td><input ng-model="entoli.table_3E" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>ΣΥΝΟΛΟ ΑΝΟΙΒΩΝ</td>
								<td><input ng-model="entoli.table_3total"></td>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<h4><a href="" ng-click="show4 = !show4">4. ΥΠΗΡΕΣΙΕΣ</a></h4>
					<div class="procedure-details" ng-show="show4">
						<table>
							<tr><td>Α. ΕΚΤΥΠΩΣΕΙΣ</td>
								<td><input ng-model="entoli.table_4A" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Β. ΤΑΧΥΔΡΟΜΙΚΑ – ΥΠΗΡΕΣΙΕΣ ΜΕΤΑΦΟΡΑΣ</td>
								<td><input ng-model="entoli.table_4B" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Γ. ΣΥΝΔΡΟΜΕΣ ΣΕ ΟΡΓΑΝΙΣΜΟΥΣ, ΕΠΙΣΤΗΜΟΝΙΚΑ ΠΕΡΙΟΔΙΚΑ Ή ΒΑΣΕΙΣ ΔΕΔΟΜΕΝΩΝ	</td>
								<td><input ng-model="entoli.table_4G" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Δ. ΔΙΟΡΓΑΝΩΣΗΣ ΣΥΝΕΔΡΙΩΝ/ ΕΞΟΔΑ ΠΡΟΒΟΛΗΣ ΚΑΙ ΔΙΑΦΗΜΙΣΗΣ / ΕΙΣΙΤΗΡΙΑ – ΔΙΑΜΟΝΗ ΜΕΤΑΚΙΝΟΥΜΕΝΩΝ***</td>
								<td><input ng-model="entoli.table_4D" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Ε. ΑΛΛΟ (Παρακαλούμε εξειδικεύστε το είδος)</td>
								<td><input ng-model="entoli.table_4E" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>ΣΥΝΟΛΟ ΥΠΗΡΕΣΙΩΝ</td>
								<td><input ng-model="entoli.table_4total"></td>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<h4><a href="" ng-click="show5 = !show5">5. ΕΠΙΣΚΕΥΕΣ/ΣΥΝΤΗΡΗΣΕΙΣ</a></h4>
					<div class="procedure-details" ng-show="show5">
						<table>
							<tr><td>Α. ΕΠΙΣΚΕΥΗ ΚΑΙ ΣΥΝΤΗΡΗΣΗ ΕΠΙΣΤΗΜΟΝΙΚΩΝ ΟΡΓΑΝΩΝ</td>
								<td><input ng-model="entoli.table_5A" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Β. ΕΠΙΣΚΕΥΗ ΚΑΙ ΣΥΝΤΗΡΗΣΗ ΛΟΙΠΟΥ ΕΞΟΠΛΙΣΜΟΥ</td>
								<td><input ng-model="entoli.table_5B" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Γ. ΕΠΙΣΚΕΥΗ ΚΑΙ ΣΥΝΤΗΡΗΣΗ Η/Υ, ΕΚΤΥΠΩΤΩΝ, ΦΩΤΟΤΥΠΙΚΩΝ</td>
								<td><input ng-model="entoli.table_5G" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Δ. ΑΛΛΟ (Παρακαλούμε εξειδικεύστε το είδος)</td>
								<td><input ng-model="entoli.table_5D" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>ΣΥΝΟΛΟ ΕΠΙΣΚΕΥΩΝ/ΣΥΝΤΗΡΗΣΕΩΝ</td>
								<td><input ng-model="entoli.table_5total"></td>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<h4><a href="" ng-click="show6 = !show6">6. ΕΝΟΙΚΙΑΣΕΙΣ</a></h4>
					<div class="procedure-details" ng-show="show6">
						<table>Α. ΕΝΟΙΚΙΑΣΗ ΧΩΡΩΝ (κάλυψη αναγκών στέγασης ερ/κών προγ/των)	

							<tr><td>Α. ΕΝΟΙΚΙΑΣΗ ΧΩΡΩΝ (κάλυψη αναγκών στέγασης ερ/κών προγ/των)</td>
								<td><input ng-model="entoli.table_6A" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Β. ΕΝΟΙΚΙΑ ΜΕΤΑΦΟΡΙΚΩΝ ΜΕΣΩΝ</td>
								<td><input ng-model="entoli.table_6B" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Γ. ΕΝΟΙΚΙΑ ΕΠΙΣΤΗΜΟΝΙΚΩΝ ΟΡΓΑΝΩΝ</td>
								<td><input ng-model="entoli.table_6G" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Δ. ΕΝΟΙΚΙΑ ΛΟΙΠΟΥ ΕΞΟΠΛΙΣΜΟΥ</td>
								<td><input ng-model="entoli.table_6D" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Ε. ΑΛΛΟ (Παρακαλούμε εξειδικεύστε το είδος)</td>
								<td><input ng-model="entoli.table_6E" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>ΣΥΝΟΛΟ ΕΝΟΙΚΙΑΣΕΩΝ</td>
								<td><input ng-model="entoli.table_6total"></td>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<h4><a href="" ng-click="show7 = !show7">7. ΔΙΑΦΟΡΑ ΕΞΟΔΑ</a></h4>
					<div class="procedure-details" ng-show="show7">
						<table>
							<tr><td>Α. ΜΕΤΑΚΙΝΗΣΕΙΣ ****</td>
								<td><input ng-model="entoli.table_7A" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Β. ΔΙΑΜΟΡΦΩΣΗ ΧΩΡΩΝ	</td>
								<td><input ng-model="entoli.table_7B" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Ε. ΔΙΑΦΟΡΑ</td>
								<td><input ng-model="entoli.table_7E" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>Δ. ΑΛΛΟ (Παρακαλούμε εξειδικεύστε το είδος)</td>
								<td><input ng-model="entoli.table_7D" ng-change="updateTotal();"></td>
							</tr>
							<tr><td>ΣΥΝΟΛΟ ΔΙΑΦΟΡΩΝ ΕΞΟΔΩΝ</td>
								<td><input ng-model="entoli.table_7total"></td>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<h4><a href="" ng-click="show8 = !show8">8. Γενικά Διαχειριστικά Έξοδα</a></h4>
					<div class="procedure-details" ng-show="show8">
						<table>
							<tr><td>A. ΓΕΝΙΚΑ ΔΙΑΧΕΙΡΙΣΤΙΚΑ</td>
								<td><input ng-model="entoli.table_8A" ng-change="updateTotal();"></td>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<h4><a href="" ng-click="show9 = !show9">9. ΑΛΛΗ ΚΑΤΗΓΟΡΙΑ</a></h4>
					<div class="procedure-details" ng-show="show9">
						<table>
							<tr><td>ΟΝΟΜΑ ΚΑΤΗΓΟΡΙΑΣ</td>
								<td><input ng-model="entoli.table_9A1"></td>
							</tr>
							<tr><td>ΑΞΙΑ</td>
								<td><input ng-model="entoli.table_9A2" ng-change="updateTotal();"></td>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<h4>&nbsp</h4>
					<div class="procedure-details" >
						<table>
							<tr><td><h4>ΓΕΝΙΚΟ ΣΥΝΟΛΟ</h4></td>
								<td><input ng-model="entoli.geniko_synolo"></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="form_buttons">
					<table>
						<tr>
							<td>
								<md-button ng-click="insertDocToDB()" > Ολοκλήρωση</md-button>
							</td>
							<td>
								<md-button ng-click="printDiv('outputDocProypologismomsId')" >Μόνο Εκτύπωση</md-button>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div  id='outputDocProypologismomsId' class="outputDoc"  >		
				<table cellspacing="0" border="1" style="font-size:110%;">
					<tr>
						<td width="20%">&nbsp</td>
						<td width="60%">Προς :την Επιτροπή Ερευνών</td>
						<td width="20%"><br>&nbsp</td>
					</tr>
					<tr>
						<td><br></td>
						<td>του Εθνικού και Καποδιστριακού</td>
						<td><br></td>
					</tr>
					<tr>
						<td><br></td>
						<td>Πανεπιστημίου Αθηνών</td>
						<td><br></td>
					</tr>
					<tr>
						<td><br></td>
						<td></td>
						<td>Αθήνα, date</td>
					</tr>
				</table>
				<table>
					<tr>
						<td width="80%">Σας αποστέλλουμε τον προϋπολογισμό του ερευνητικού έργου με τίτλο :</td>
						<td width="20%%"><br></td>
						<td width="0"><br></td>
					</tr>
				</table>
				<table>
					<tr>
						<td>&nbsp</td>
						<td><br></td>
						<td><br></td>
					</tr>
					<tr>
						<td>&nbsp</td>
						<td><br></td>
						<td><br></td>
					</tr>
				</table>
				<table>
					<tr>
						<td width="40%">και Eπιστημ. Yπεύθ</td>
						<td width="60%">: {{entoli.epistimonikos_name}}</td>
						<td width="0%">&nbsp</td>
					</tr>
					<tr>
						<td colspan=2>και παρακαλούμε για την έγκρισή του.</td>

						<td><br></td>
					</tr>
				</table>
				<table>
					<tr>
						<td width="40%">Χρηματοδότης</td>
						<td width="60%">: {{entoli.xrimatodotis}}</td>
						<td width="0%">&nbsp</td>
					</tr>
					<tr>
						<td>Ποσό Προϋπολογισμού*</td>
						<td>: {{entoli.poso_proypologismou}}</td>
						<td><br></td>
					</tr>
					<tr>
						<td>Κ.Α. Έρευνας</td>
						<td>: {{research.research_code}}</td>
						<td><br></td>
					</tr>
					<tr>
						<td>Διάρκεια Έργου**</td>
						<td>: από {{entoli.ergo_apo}} έως {{entoli.ergo_eos}}</td>
						<td><br></td>
					</tr>
				</table>
				<table>
					<tr>
						<td width="30%">&nbsp</td>
						<td width="40%" align=center><b>ΠΡΟΫΠΟΛΟΓΙΣΜΟΣ</b></td>
						<td width="30%"><br>&nbsp</td>
					</tr>
				</table>
				<table>
					<tr>
						<td><b><u>1. ΜΗ ΑΝΑΛΩΣΙΜΑ</u></b></td>
						<td><b><u><br></u></b></td>
						<td><br></td>
					</tr>
					<tr>
						<td>Α. ΕΠΙΣΤΗΜΟΝΙΚΑ ΟΡΓΑΝΑ</td>
						<td><br></td>
						<td><br>{{entoli.table_1A}}</td>
					</tr>
					<tr>
						<td>Β. Η/Υ ΚΑΙ ΠΕΡΙΦΕΡΕΙΑΚΑ Η/Υ (ΕΚΤΥΠΩΤΕΣ, ΟΘΟΝΕΣ, κ.λ.π)</td>
						<td><br></td>
						<td><br>{{entoli.table_1B}}</td>
					</tr>
					<tr>
						<td>Γ. ΦΩΤΟΤΥΠΙΚΑ ΚΑΙ ΠΑΡΕΜΦΕΡΗ ΜΗΧΑΝΗΜΑΤΑ </td>
						<td><br></td>
						<td><br>{{entoli.table_1G}}</td>
					</tr>
					<tr>
						<td>Δ. ΛΟΓΙΣΜΙΚΑ ΠΡΟΓΡΑΜΜΑΤΑ</td>
						<td><br></td>
						<td><br>{{entoli.table_1D}}</td>
					</tr>
					<tr>
						<td>Ε. ΟΠΤΙΚΟΑΚΟΥΣΤΙΚΑ ΜΕΣΑ (ΤΗΛΕΠ/ΚΟΣ ΕΞΟΠΛΙΣΜΟΣ) </td>
						<td><br></td>
						<td><br>{{entoli.table_1E}}</td>
					</tr>
					<tr>
						<td>ΣΤ. ΕΞΟΠΛΙΣΜΟΣ ΓΡΑΦΕΙΟΥ</td>
						<td><br></td>
						<td><br>{{entoli.table_1ST}}</td>
					</tr>
					<tr>
						<td>Ζ. ΒΙΒΛΙΑ – ΕΝΤΥΠΑ –ΠΕΡΙΟΔΙΚΑ </td>
						<td><br></td>
						<td><br>{{entoli.table_1Z}}</td>
					</tr>
					<tr>
						<td>Η. ΑΥΤΟΚΙΝΗΤΑ</td>
						<td><br></td>
						<td><br>{{entoli.table_1H}}</td>
					</tr>
					<tr>
						<td>Θ. ΛΟΙΠΟΣ ΕΞΟΠΛΙΣΜΟΣ</td>
						<td><br></td>
						<td><br>{{entoli.table_1T}}</td>
					</tr>
					<tr>
						<td>Ι. ΑΛΛΟ (Παρακαλούμε εξειδικεύστε το είδος)</td>
						<td><br></td>
						<td><br>{{entoli.table_1I}}</td>
					</tr>
					<tr>
						<td><b>ΣΥΝΟΛΟ ΜΗ ΑΝΑΛΩΣΙΜΩΝ :</b></td>
						<td><b><br></b></td>
						<td><b>{{entoli.table_1total}}</b></td>
					</tr>
					<tr>
						<td><br></td>
						<td><br></td>
						<td><br></td>
					</tr>
					<tr>
						<td><b><u>2. ΑΝΑΛΩΣΙΜΑ</u></b></td>
						<td><b><u><br></u></b></td>
						<td><br></td>
					</tr>
					<tr>
						<td>Α. ΑΝΤΙΔΡΑΣΤΗΡΙΑ (Χημικά, Ιατρικά, κ.α).</td>
						<td><br></td>
						<td><br>{{entoli.table_2A}}</td>
					</tr>
					<tr>
						<td>Β. ΕΡΓΑΣΤΗΡΙΑΚΑ ΑΝΑΛΩΣΙΜΑ</td>
						<td><br></td>
						<td><br>{{entoli.table_2B}}</td>
					</tr>
					<tr>
						<td>Γ. ΟΔΟΝΤΙΑΤΡΙΚΑ</td>
						<td><br></td>
						<td><br>{{entoli.table_2G}}</td>
					</tr>
					<tr>
						<td>Δ. ΦΑΡΜΑΚΕΥΤΙΚΑ ΠΡΟΪΟΝΤΑ</td>
						<td><br></td>
						<td><br>{{entoli.table_2D}}</td>
					</tr>
					<tr>
						<td>Ε. ΑΚΤΙΝΟΓΡΑΦΙΚΑ ΕΙΔΗ </td>
						<td><br></td>
						<td><br>{{entoli.table_2E}}</td>
					</tr>
					<tr>
						<td>ΣΤ. ΠΕΙΡΑΜΑΤΟΖΩΑ &amp; ΥΛΙΚΑ ΣΥΝΤΗΡΗΣΗΣ ΤΟΥΣ</td>
						<td><br></td>
						<td><br>{{entoli.table_2ST}}</td>
					</tr>
					<tr>
						<td>Ζ. ΑΕΡΙΑ</td>
						<td><br></td>
						<td><br>{{entoli.table_2Z}}</td>
					</tr>
					<tr>
						<td>Η. ΓΡΑΦΙΚΗ ΥΛΗ- – ΑΝΑΛΩΣΙΜΑ ΓΡΑΦΕΙΟΥ - ΑΝΑΛΩΣΙΜΑ Η/Υ </td>
						<td><br></td>
						<td><br>{{entoli.table_2H}}</td>
					</tr>
					<tr>
						<td>Θ. ΥΓΕΙΟΝΟΜΙΚΟ ΥΛΙΚΟ</td>
						<td><br></td>
						<td><br>{{entoli.table_2T}}</td>
					</tr>
					<tr>
						<td>Ι. ΥΛΙΚΑ ΚΑΘΑΡΙΟΤΗΤΑΣ</td>
						<td><br></td>
						<td><br>{{entoli.table_2I}}</td>
					</tr>
					<tr>
						<td>Κ. ΑΛΛΟ (Παρακαλούμε εξειδικεύστε το είδος)</td>
						<td><br></td>
						<td><br>{{entoli.table_2K}}</td>
					</tr>
					<tr>
						<td><b>ΣΥΝΟΛΟ ΑΝΑΛΩΣΙΜΩΝ: </b></td>
						<td><b><br></b></td>
						<td><b>{{entoli.table_2total}}</b></td>
					</tr>
					<tr>
						<td><br></td>
						<td><br></td>
						<td><br></td>
					</tr>
					<tr>
						<td><b><u>3. ΑΜΟΙΒΕΣ</u></b></td>
						<td><b><u><br></u></b></td>
						<td><br></td>
					</tr>
					<tr>
						<td>Α. ΕΠΙΣΤΗΜΟΝΙΚΟΥ ΥΠΕΥΘΥΝΟΥ</td>
						<td><br></td>
						<td><br>{{entoli.table_3A}}</td>
					</tr>
					<tr>
						<td>Β. ΕΠΙΣΤΗΜΟΝΙΚΟΥ ΠΡΟΣΩΠΙΚΟΥ</td>
						<td><br></td>
						<td><br>{{entoli.table_3B}}</td>
					</tr>
					<tr>
						<td>Γ. ΦΟΙΤΗΤΩΝ</td>
						<td><br></td>
						<td><br>{{entoli.table_3G}}</td>
					</tr>
					<tr>
						<td>Δ. ΛΟΙΠΟΥ ΠΡΟΣΩΠΙΚΟΥ</td>
						<td><br></td>
						<td><br>{{entoli.table_3D}}</td>
					</tr>
					<tr>
						<td>Ε. ΑΛΛΟ (Παρακαλούμε εξειδικεύστε το είδος)</td>
						<td><br></td>
						<td><br>{{entoli.table_3E}}</td>
					</tr>
					<tr>
						<td><b>ΣΥΝΟΛΟ ΑΜΟΙΒΩΝ :</b></td>
						<td><b><br></b></td>
						<td><b>{{entoli.table_3total}}</b></td>
					</tr>
					<tr>
						<td><br></td>
						<td><br></td>
						<td><br></td>
					</tr>
					<tr>
						<td><b><u>4. ΥΠΗΡΕΣΙΕΣ</u></b></td>
						<td><b><u><br></u></b></td>
						<td><br></td>
					</tr>
					<tr>
						<td>Α. ΕΚΤΥΠΩΣΕΙΣ</td>
						<td><br></td>
						<td><br>{{entoli.table_4A}}</td>
					</tr>
					<tr>
						<td>Β. ΤΑΧΥΔΡΟΜΙΚΑ – ΥΠΗΡΕΣΙΕΣ ΜΕΤΑΦΟΡΑΣ</td>
						<td><br></td>
						<td><br>{{entoli.table_4B}}</td>
					</tr>
					<tr>
						<td>Γ. ΣΥΝΔΡΟΜΕΣ ΣΕ ΟΡΓΑΝΙΣΜΟΥΣ, ΕΠΙΣΤΗΜΟΝΙΚΑ ΠΕΡΙΟΔΙΚΑ Ή ΒΑΣΕΙΣ ΔΕΔΟΜΕΝΩΝ</td>
						<td><br></td>
						<td><br>{{entoli.table_4G}}</td>
					</tr>
					<tr>
						<td>Δ. ΔΙΟΡΓΑΝΩΣΗΣ ΣΥΝΕΔΡΙΩΝ/ ΕΞΟΔΑ ΠΡΟΒΟΛΗΣ ΚΑΙ ΔΙΑΦΗΜΙΣΗΣ / ΕΙΣΙΤΗΡΙΑ – ΔΙΑΜΟΝΗ ΜΕΤΑΚΙΝΟΥΜΕΝΩΝ***</td>
						<td><br></td>
						<td><br>{{entoli.table_4D}}</td>
					</tr>

					<tr>
						<td>Ε. ΑΛΛΟ (Παρακαλούμε εξειδικεύστε το είδος)</td>
						<td><br></td>
						<td><br>{{entoli.table_4E}}</td>
					</tr>
					<tr>
						<td><b>ΣΥΝΟΛΟ ΥΠΗΡΕΣΙΩΝ :</b></td>
						<td><b><br></b></td>
						<td><b>{{entoli.table_4total}}</b></td>
					</tr>
					<tr>
						<td><b><br></b></td>
						<td><b><br></b></td>
						<td><br></td>
					</tr>
					<tr>
						<td><b><u>5. ΕΠΙΣΚΕΥΕΣ/ΣΥΝΤΗΡΗΣΕΙΣ</u></b></td>
						<td><b><u><br></u></b></td>
						<td><br></td>
					</tr>
					<tr>
						<td>Α. ΕΠΙΣΚΕΥΗ ΚΑΙ ΣΥΝΤΗΡΗΣΗ ΕΠΙΣΤΗΜΟΝΙΚΩΝ ΟΡΓΑΝΩΝ</td>
						<td><br></td>
						<td><br>{{entoli.table_5A}}</td>
					</tr>
					<tr>
						<td>Β. ΕΠΙΣΚΕΥΗ ΚΑΙ ΣΥΝΤΗΡΗΣΗ ΛΟΙΠΟΥ ΕΞΟΠΛΙΣΜΟΥ</td>
						<td><br></td>
						<td><br>{{entoli.table_5B}}</td>
					</tr>
					<tr>
						<td>Γ. ΕΠΙΣΚΕΥΗ ΚΑΙ ΣΥΝΤΗΡΗΣΗ Η/Υ, ΕΚΤΥΠΩΤΩΝ, ΦΩΤΟΤΥΠΙΚΩΝ </td>
						<td><br></td>
						<td><br>{{entoli.table_5G}}</td>
					</tr>
					<tr>
						<td>Δ. ΑΛΛΟ (Παρακαλούμε εξειδικεύστε το είδος)</td>
						<td><br></td>
						<td><br>{{entoli.table_5D}}</td>
					</tr>
					<tr>
						<td><b>ΣΥΝΟΛΟ ΕΠΙΣΚΕΥΩΝ/ΣΥΝΤΗΡΗΣΕΩΝ :</b></td>
						<td><b><br></b></td>
						<td><b>{{entoli.table_5total}}</b></td>
					</tr>
					<tr>
						<td><br></td>
						<td><br></td>
						<td><br></td>
					</tr>
					<tr>
						<td><b><u>6. ΕΝΟΙΚΙΑΣΕΙΣ</u></b></td>
						<td><b><u><br></u></b></td>
						<td><br></td>
					</tr>
					<tr>
						<td>Α. ΕΝΟΙΚΙΑΣΗ ΧΩΡΩΝ (κάλυψη αναγκών στέγασης ερ/κών προγ/των) </td>
						<td><br></td>
						<td><br>{{entoli.table_6A}}</td>
					</tr>
					<tr>
						<td>Β. ΕΝΟΙΚΙΑ ΜΕΤΑΦΟΡΙΚΩΝ ΜΕΣΩΝ</td>
						<td><br></td>
						<td><br>{{entoli.table_6B}}</td>
					</tr>
					<tr>
						<td>Γ. ΕΝΟΙΚΙΑ ΕΠΙΣΤΗΜΟΝΙΚΩΝ ΟΡΓΑΝΩΝ</td>
						<td><br></td>
						<td><br>{{entoli.table_6G}}</td>
					</tr>
					<tr>
						<td>Δ. ΕΝΟΙΚΙΑ ΛΟΙΠΟΥ ΕΞΟΠΛΙΣΜΟΥ</td>
						<td><br></td>
						<td><br>{{entoli.table_6D}}</td>
					</tr>
					<tr>
						<td>Ε. ΑΛΛΟ (Παρακαλούμε εξειδικεύστε το είδος)</td>
						<td><br></td>
						<td><br>{{entoli.table_6E}}</td>
					</tr>
					<tr>
						<td><b>ΣΥΝΟΛΟ ΕΝΟΙΚΙΑΣΕΩΝ : </b></td>
						<td><b><br></b></td>
						<td><b>{{entoli.table_6total}}</b></td>
					</tr>
					<tr>
						<td><br></td>
						<td><br></td>
						<td><br></td>
					</tr>
					<tr>
						<td><b><u>7. ΔΙΑΦΟΡΑ ΕΞΟΔΑ</u></b></td>
						<td><b><u><br></u></b></td>
						<td><br></td>
					</tr>
					<tr>
						<td>Α. ΜΕΤΑΚΙΝΗΣΕΙΣ ****</td>
						<td><br></td>
						<td><br>{{entoli.table_7A}}</td>
					</tr>
					<tr>
						<td>Β. ΔΙΑΜΟΡΦΩΣΗ ΧΩΡΩΝ</td>
						<td><br></td>
						<td><br>{{entoli.table_7B}}</td>
					</tr>
					<tr>
						<td>Ε. ΔΙΑΦΟΡΑ</td>
						<td><br></td>
						<td><br>{{entoli.table_7E}}</td>
					</tr>
					<tr>
						<td>Δ. ΑΛΛΟ (Παρακαλούμε εξειδικεύστε το είδος) </td>
						<td><br></td>
						<td><br>{{entoli.table_7D}}</td>
					</tr>
					<tr>
						<td><b>ΣΥΝΟΛΟ ΔΙΑΦΟΡΩΝ ΕΞΟΔΩΝ :</b></td>
						<td><b><br></b></td>
						<td><b>{{entoli.table_7total}}</b></td>
					</tr>
					<tr>
						<td><br></td>
						<td><br></td>
						<td><br></td>
					</tr>
					<tr>
						<td><br></td>
						<td><br></td>
						<td><br></td>
					</tr>
					<tr>
						<td><b>8. Γενικά Διαχειριστικά Έξοδα (π.χ. Κράτηση υπέρ Ειδικού Λογαριασμού)</b></td>
						<td><b><br></b></td>
						<td><b>{{entoli.table_8A}}</b></td>
					</tr>

					<tr>
						<td><b><u>9. ΑΛΛΗ ΚΑΤΗΓΟΡΙΑ</u></b></td>
						<td><b><u><br></u></b></td>
						<td><br></td>
					</tr>
					<tr>
						<td><b><u>(Παρακαλούμε εξειδικεύστε την κατηγορία και το είδος)</u></b></td>
						<td><b><u>{{entoli.table_9A1}}<br></u></b></td>
						<td><b>{{entoli.table_9A2}}</b></td>
					</tr>
	
					<tr>
						<td><b>ΓΕΝΙΚΟ ΣΥΝΟΛΟ :</b></td>
						<td><b><br></b></td>
						<td><b>{{entoli.geniko_synolo}}</b></td>
					</tr>
				</table>
				<table align=center width=100%>

					<tr>
						<td align=center>Ο / Η Επιστημονικ … Υπεύθυν….</td>
					</tr>
					<tr>
						<td><br></td>
					</tr>
					<tr>
						<td><br></td>
					</tr>
					<tr>
						<td><br></td>
					</tr>
					<tr>
						<td align=center>(Υπογραφή)</td>
					</tr>
					<tr>
						<td><br></td>
					</tr>
				</table>
				<table style="font-size:80%">
					<tr>
						<td colspan=3><i>Στοιχεία επικοινωνίας του υπευθύνου σύνταξης του προϋπολογισμού: </i></td>

					</tr>
					<tr>
						<td><i>Ονοματεπώνυμο: </i></td>
						<td><br>surname</td>
						<td><br></td>
					</tr>
					<tr>
						<td><i>Τηλ.: </i></td>
						<td><br>tel</td>
						<td><br></td>
					</tr>
					<tr>
						<td><i>E-mail:</i></td>
						<td><br>email</td>
						<td><br></td>
					</tr>
				</table>
				<table style="font-size:80%">
					<tr>
						<td width=80% align=justify>*, ** Συμπληρώνεται ο προϋπολογισμός και η διάρκεια του έργου:  για τα Ευρωπαϊκά Προγράμματα,
							τις Κλινικές Μελέτες και για όλα τα προγράμματα που έχουν συγκεκριμένο χρονικό διάστημα
							υλοποίησης συμπληρώνεται για το σύνολο του έργου με την αποδοχή του έργου από τον Φορέα
							Χρηματοδότησης ενώ για τα λοιπά έργα (Νοσήλια, ΠΜΣ, Οικονομικές Ενισχύσεις κλ.π.) συμπληρώνεται
							σε ετήσια βάση.</td>
						<td width=20%>&nbsp</td>
					</tr>
					<tr>
						<td><a href="#_ftnref1">*** Αφορά στις μετακινήσεις ομάδων στο πλαίσιο του έργου.</a></td>
						<td><br></td>
					</tr>
					<tr>
						<td><a href="#_ftnref2">**** Αφορά μεμονωμένες μετακινήσεις</a></td>
						<td><br></td>
					</tr>
				</table>				
			</div>
		</md-content>
	</div>
</div>
	