<div class="row">
   <!--<div class="col-md-12" ng-show="customers.length > 0">  -->
   <div class="col-md-12" ng-show="doc_proypologismos_num > 0">
      <!--<nav class= "navbar navbar-default" role= "navigation" >
         <div class= "navbar-header" >
            <a class="btn btn-lg btn-success" href="#/edit-customer/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Customer</a>
         </div>
      
      </nav>-->
      {{msg}}
	<br>

	</br>
	<table class="TableButtonList"><tr>
	<td><a href="" ng-click="showSubTableGeneral = !showSubTableGeneral">&nbspΓΕΝΙΚΑ</a></td>
	<td><a href="" ng-click="showSubTable1 = !showSubTable1">&nbspΜΗ ΑΝΑΛΩΣΗΜΑ</a></td>
	<td><a href="" ng-click="showSubTable2 = !showSubTable2">&nbspΑΝΑΛΩΣΗΜΑ</a></td>
	<td><a href="" ng-click="showSubTable3 = !showSubTable3">&nbspΑΜΟΙΒΕΣ</a></td>
	<td><a href="" ng-click="showSubTable4 = !showSubTable4">&nbspΥΠΗΡΕΣΙΕΣ</a></td>
	<td><a href="" ng-click="showSubTable5 = !showSubTable5">&nbspΕΠΙΣΚΕΥΕΣ</a></td>
	<td><a href="" ng-click="showSubTable6 = !showSubTable6">&nbspΕΝΟΙΚΙΑΣΕΙΣ</a></td>
	<td><a href="" ng-click="showSubTable7 = !showSubTable7">&nbspΔΙΑΦΟΡΑ</a></td>
	<td><a href="" ng-click="showSubTable8 = !showSubTable8">&nbspΔΙΑΧΕΙΡΙΣΤΙΚΑ</a></td>
	<td><a href="" ng-click="showSubTableSyntaktis = !showSubTableSyntaktis">ΣΥΝΤΑΚΤΗΣ</a></td>
	</tr></table>
		
    <table class="table table-bordered table-hover">
        <thead>
			<th ng-if="showSubTableGeneral"><span class="myVerticalText">Επιστ Υπευθ</span></th>
			<th ng-if="showSubTableGeneral"><span class="myVerticalText">Έρευνα</span></th>
			<th ng-if="showSubTableGeneral"><span class="myVerticalText">Χρηματοδότης</span></th>
			<th ng-if="showSubTableGeneral"><span class="myVerticalText">Ποσό Προυπ</span></th>
			<th ng-if="showSubTableGeneral"><span class="myVerticalText">Διάρκεια από  </span></th>
			<th ng-if="showSubTableGeneral"><span class="myVerticalText">Διάρκεια Εως</span></th>
			<th ng-if="showSubTable1"><span class="myVerticalText">ΕΠΙΣΤΗΜΟΝΙΚΑ ΟΡΓΑΝΑ</span></th>
			<th ng-if="showSubTable1"><span class="myVerticalText">Η/Υ ΚΑΙ ΠΕΡΙΦΕΡΕΙΑΚΑ</span></th>
			<th ng-if="showSubTable1"><span class="myVerticalText">ΦΩΤΟΤΥΠΙΚΑ ΚΑΙ ΠΑΡΕΜΦΕΡΗ ΜΗΧΑΝΗΜΑΤΑ</span></th>
			<th ng-if="showSubTable1"><span class="myVerticalText">ΛΟΓΙΣΜΙΚΑ ΠΡΟΓΡΑΜΜΑΤΑ</span></th>
			<th ng-if="showSubTable1"><span class="myVerticalText">ΟΠΤΙΚΟΑΚΟΥΣΤΙΚΑ ΜΕΣΑ</span></th>
			<th ng-if="showSubTable1"><span class="myVerticalText">ΕΞΟΠΛΙΣΜΟΣ ΓΡΑΦΕΙΟΥ</span></th>
			<th ng-if="showSubTable1"><span class="myVerticalText">ΒΙΒΛΙΑ – ΕΝΤΥΠΑ –ΠΕΡΙΟΔΙΚΑ</span></th>
			<th ng-if="showSubTable1"><span class="myVerticalText">ΑΥΤΟΚΙΝΗΤΑ</span></th>
			<th ng-if="showSubTable1"><span class="myVerticalText">ΛΟΙΠΟΣ ΕΞΟΠΛΙΣΜΟΣ</span></th>
			<th ng-if="showSubTable1"><span class="myVerticalText">ΚΑΤΗΓΟΡΙΑ ΟΝΟΜΑ </span></th>
			<th ng-if="showSubTable1"><span class="myVerticalText">ΚΑΤΗΓΟΡΙΑ ΠΟΣΟ</span></th>
			<th ng-if="showSubTable2"><span class="myVerticalText">ΑΝΤΙΔΡΑΣΤΗΡΙΑ</span></th>
			<th ng-if="showSubTable2"><span class="myVerticalText">ΕΡΓΑΣΤΗΡΙΑΚΑ ΑΝΑΛΩΣΙΜΑ</span></th>
			<th ng-if="showSubTable2"><span class="myVerticalText">ΟΔΟΝΤΙΑΤΡΙΚΑ</span></th>
			<th ng-if="showSubTable2"><span class="myVerticalText">ΦΑΡΜΑΚΕΥΤΙΚΑ ΠΡΟΪΟΝΤΑ</span></th>
			<th ng-if="showSubTable2"><span class="myVerticalText">ΑΚΤΙΝΟΓΡΑΦΙΚΑ ΕΙΔΗ</span></th>
			<th ng-if="showSubTable2"><span class="myVerticalText">ΠΕΙΡΑΜΑΤΟΖΩΑ</span></th>
			<th ng-if="showSubTable2"><span class="myVerticalText">ΑΕΡΙΑ</span></th>
			<th ng-if="showSubTable2"><span class="myVerticalText">ΓΡΑΦΙΚΗ ΥΛΗ</span></th>
			<th ng-if="showSubTable2"><span class="myVerticalText">ΥΓΕΙΟΝΟΜΙΚΟ ΥΛΙΚΟ</span></th>
			<th ng-if="showSubTable2"><span class="myVerticalText">ΥΛΙΚΑ ΚΑΘΑΡΙΟΤΗΤΑΣ</span></th>
			<th ng-if="showSubTable2"><span class="myVerticalText">ΚΑΤΗΓΟΡΙΑ ΟΝΟΜΑ</span></th>
			<th ng-if="showSubTable2"><span class="myVerticalText">ΚΑΤΗΓΟΡΙΑ ΠΟΣΟ</span></th>
			<th ng-if="showSubTable3"><span class="myVerticalText">ΕΠΙΣΤΗΜΟΝΙΚΟΥ ΥΠΕΥΘΥΝΟΥ</span></th>
			<th ng-if="showSubTable3"><span class="myVerticalText">ΕΠΙΣΤΗΜΟΝΙΚΟΥ ΠΡΟΣΩΠΙΚΟΥ</span></th>
			<th ng-if="showSubTable3"><span class="myVerticalText">ΦΟΙΤΗΤΩΝ</span></th>
			<th ng-if="showSubTable3"><span class="myVerticalText">ΛΟΙΠΟΥ ΠΡΟΣΩΠΙΚΟΥ</span></th>
			<th ng-if="showSubTable3"><span class="myVerticalText">ΑΛΛΟ ONOMA</span></th>
			<th ng-if="showSubTable3"><span class="myVerticalText">ΚΑΤΗΓΟΡΙΑ ΠΟΣΟ</span></th>
			<th ng-if="showSubTable4"><span class="myVerticalText">ΕΚΤΥΠΩΣΕΙΣ</span></th>
			<th ng-if="showSubTable4"><span class="myVerticalText">ΤΑΧΥΔΡΟΜΙΚΑ </span></th>
			<th ng-if="showSubTable4"><span class="myVerticalText">ΣΥΝΔΡΟΜΕΣ ΣΕ ΟΡΓΑΝΙΣΜΟΥΣ</span></th>
			<th ng-if="showSubTable4"><span class="myVerticalText">ΔΙΟΡΓΑΝΩΣΗΣ ΣΥΝΕΔΡΙΩΝ</span></th>
			<th ng-if="showSubTable4"><span class="myVerticalText">ΚΑΤΗΓΟΡΙΑ ΟΝΟΜΑ </span></th>
			<th ng-if="showSubTable4"><span class="myVerticalText">ΚΑΤΗΓΟΡΙΑ ΠΟΣΟ</span></th>
			<th ng-if="showSubTable5"><span class="myVerticalText">ΕΠΙΣΚΕΥΗ ΚΑΙ ΣΥΝΤΗΡΗΣΗ ΕΠΙΣΤΗΜΟΝΙΚΩΝ ΟΡΓΑΝΩΝ</span></th>
			<th ng-if="showSubTable5"><span class="myVerticalText">ΕΠΙΣΚΕΥΗ ΚΑΙ ΣΥΝΤΗΡΗΣΗ ΛΟΙΠΟΥ ΕΞΟΠΛΙΣΜΟΥ</span></th>
			<th ng-if="showSubTable5"><span class="myVerticalText">ΕΠΙΣΚΕΥΗ ΚΑΙ ΣΥΝΤΗΡΗΣΗ Η/Υ, ΕΚΤΥΠΩΤΩΝ, ΦΩΤΟΤΥΠΙΚΩΝ</span></th>
			<th ng-if="showSubTable5"><span class="myVerticalText">ΚΑΤΗΓΟΡΙΑ ΟΝΟΜΑ</span></th>
			<th ng-if="showSubTable5"><span class="myVerticalText">ΚΑΤΗΓΟΡΙΑ ΠΟΣΟ</span></th>
			<th ng-if="showSubTable6"><span class="myVerticalText">ΕΝΟΙΚΙΑΣΗ ΧΩΡΩΝ</span></th>
			<th ng-if="showSubTable6"><span class="myVerticalText">ΕΝΟΙΚΙΑ ΜΕΤΑΦΟΡΙΚΩΝ ΜΕΣΩΝ</span></th>
			<th ng-if="showSubTable6"><span class="myVerticalText">ΕΝΟΙΚΙΑ ΕΠΙΣΤΗΜΟΝΙΚΩΝ ΟΡΓΑΝΩΝ</span></th>
			<th ng-if="showSubTable6"><span class="myVerticalText">ΕΝΟΙΚΙΑ ΛΟΙΠΟΥ ΕΞΟΠΛΙΣΜΟΥ</span></th>
			<th ng-if="showSubTable6"><span class="myVerticalText">ΚΑΤΗΓΟΡΙΑ ΟΝΟΜΑ</span></th>
			<th ng-if="showSubTable6"><span class="myVerticalText">ΚΑΤΗΓΟΡΙΑ ΠΟΣΟ</span></th>
			<th ng-if="showSubTable7"><span class="myVerticalText">ΜΕΤΑΚΙΝΗΣΕΙΣ</span></th>
			<th ng-if="showSubTable7"><span class="myVerticalText">ΔΙΑΜΟΡΦΩΣΗ ΧΩΡΩΝ</span></th>
			<th ng-if="showSubTable7"><span class="myVerticalText">ΔΙΑΦΟΡΑ</span></th>
			<th ng-if="showSubTable7"><span class="myVerticalText">ΚΑΤΗΓΟΡΙΑ ΟΝΟΜΑ</span></th>
			<th ng-if="showSubTable7"><span class="myVerticalText">ΚΑΤΗΓΟΡΙΑ ΠΟΣΟ</span></th>
			<th ng-if="showSubTable8"><span class="myVerticalText">ΓΕΝΙΚΑ ΔΙΑΧΕΙΡΙΣΤΙΚΑ</span></th>
			<th ng-if="showSubTable9"><span class="myVerticalText">ΚΑΤΗΓΟΡΙΑ ΟΝΟΜΑ</span></th>
			<th ng-if="showSubTable9"><span class="myVerticalText">ΚΑΤΗΓΟΡΙΑ ΠΟΣΟ</span></th>
			<th ng-if="showSubTableSyntaktis"><span class="myVerticalText">Ον/μο Συντάκτης Προυπ </span></th>
			<th ng-if="showSubTableSyntaktis"><span class="myVerticalText">Τηλ. Συντάκτη </span></th>
			<th ng-if="showSubTableSyntaktis"><span class="myVerticalText"> e-mail Συντάκτη</span></th>
		</thead>
        <tbody>
            <tr ng-repeat="data in docProypologismos">
				<td ng-if="showSubTableGeneral">{{data.scidir_id}}</td>
				<td ng-if="showSubTableGeneral">{{data.research_id}}</td>
				<td ng-if="showSubTableGeneral">{{data.financier}}</td>
				<td ng-if="showSubTableGeneral">{{data.budget_amount}}</td>
				<td ng-if="showSubTableGeneral">{{data.contact_start}}</td>
				<td ng-if="showSubTableGeneral">{{data.contract_end}}</td>
				<td ng-if="showSubTable1">{{data.table_1A}}</td>
				<td ng-if="showSubTable1">{{data.table_1B}}</td>
				<td ng-if="showSubTable1">{{data.table_1G}}</td>
				<td ng-if="showSubTable1">{{data.table_1D}}</td>
				<td ng-if="showSubTable1">{{data.table_1E}}</td>
				<td ng-if="showSubTable1">{{data.table_1ST}}</td>
				<td ng-if="showSubTable1">{{data.table_1Z}}</td>
				<td ng-if="showSubTable1">{{data.table_1H}}</td>
				<td ng-if="showSubTable1">{{data.table_1T}}</td>
				<td ng-if="showSubTable1">{{data.table_1IA}}</td>
				<td ng-if="showSubTable1">{{data.table_1I}}</td>
				<td ng-if="showSubTable2">{{data.table_2A}}</td>
				<td ng-if="showSubTable2">{{data.table_2B}}</td>
				<td ng-if="showSubTable2">{{data.table_2G}}</td>
				<td ng-if="showSubTable2">{{data.table_2D}}</td>
				<td ng-if="showSubTable2">{{data.table_2E}}</td>
				<td ng-if="showSubTable2">{{data.table_2ST}}</td>
				<td ng-if="showSubTable2">{{data.table_2Z}}</td>
				<td ng-if="showSubTable2">{{data.table_2H}}</td>
				<td ng-if="showSubTable2">{{data.table_2T}}</td>
				<td ng-if="showSubTable2">{{data.table_2I}}</td>
				<td ng-if="showSubTable2">{{data.table_2KA}}</td>
				<td ng-if="showSubTable2">{{data.table_2K}}</td>
				<td ng-if="showSubTable3">{{data.table_3A}}</td>
				<td ng-if="showSubTable3">{{data.table_3B}}</td>
				<td ng-if="showSubTable3">{{data.table_3G}}</td>
				<td ng-if="showSubTable3">{{data.table_3D}}</td>
				<td ng-if="showSubTable3">{{data.table_3E}}</td>
				<td ng-if="showSubTable3">{{data.table_3E}}</td><!---->
				<td ng-if="showSubTable4">{{data.table_4A}}</td>
				<td ng-if="showSubTable4">{{data.table_4B}}</td>
				<td ng-if="showSubTable4">{{data.table_4G}}</td>
				<td ng-if="showSubTable4">{{data.table_4D}}</td>
				<td ng-if="showSubTable4">{{data.table_4EA}}</td>
				<td ng-if="showSubTable4">{{data.table_4E}}</td>
				<td ng-if="showSubTable5">{{data.table_5A}}</td>
				<td ng-if="showSubTable5">{{data.table_5B}}</td>
				<td ng-if="showSubTable5">{{data.table_5G}}</td>
				<td ng-if="showSubTable5">{{data.table_5DA}}</td>
				<td ng-if="showSubTable5">{{data.table_5D}}</td>
				<td ng-if="showSubTable6">{{data.table_6A}}</td>
				<td ng-if="showSubTable6">{{data.table_6B}}</td>
				<td ng-if="showSubTable6">{{data.table_6G}}</td>
				<td ng-if="showSubTable6">{{data.table_6D}}</td>
				<td ng-if="showSubTable6">{{data.table_6EA}}</td>
				<td ng-if="showSubTable6">{{data.table_6E}}</td>
				<td ng-if="showSubTable7">{{data.table_7A}}</td>
				<td ng-if="showSubTable7">{{data.table_7B}}</td>
				<td ng-if="showSubTable7">{{data.table_7E}}</td>
				<td ng-if="showSubTable7">{{data.table_7D}}</td>
				<td ng-if="showSubTable7">{{data.table_7DA}}</td>
				<td ng-if="showSubTable8">{{data.table_8A}}</td>
				<td ng-if="showSubTable9">{{data.table_9A1}}</td>
				<td ng-if="showSubTable9">{{data.table_9A2}}</td>
				<td ng-if="showSubTableSyntaktis">{{data.budget_resp_name}}</td>
				<td ng-if="showSubTableSyntaktis">{{data.budget_resp_tel}}</td>
				<td ng-if="showSubTableSyntaktis">{{data.budget_resp_email}}</td>
				<td><a href="#/edit-doc_entoli/{{data.doc_entoli_id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp;Διόρθωση</a></td>
            </tr>
        </tbody>
    </table>

      
   </div>
   <div class="col-md-12" ng-show="doc_entoli_num == 0">
      <div class="col-md-12">
         <h4>No customers found!</h4>
      </div>
   </div>
</div>


